.job-list-item {
    position: relative;
    max-width: 1400px;
    background-color: #fff;
    border-radius: 8px;
    margin: 0 auto 8px;
    padding: 24px 16px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.23619px;
    color: #9FA4B1;
    box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.08), 0px 2px 1px -1px rgba(0, 0, 0, 0.04), 0px 1px 3px rgba(0, 0, 0, 0.12);
}
.job-list-item__content {
    display: flex;
    width: 75%;
}
.job-list-item__image {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-right: 26px;
    object-fit: cover;
}
.job-list-item__title {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.625px;
    color: #616A81;
    margin-bottom: 8px;
}
.job-list-item__title:hover {
    cursor: pointer;
    color: #878D9D;
}
.job-list-item__title:active {
    color: #3A4562;
}
.job-list-item__company {
    margin-bottom: 8px;
}
.location_icon{
    width: 13px;
    height: 18px;
    margin-right: 8px;
}
.job-list-item__rate {
    position: absolute;
    width: 100px;
    right: 12%;
    text-align: center;
    line-height: 19px;
}
.job-list-item__rate img {
    width: 19px;
    height: 20px;
}
.job-list-item__mark {
    position: absolute;
    width: 16px;
    height: 20px;
    top: 29px;
    right: 24px;
}
.job-list-item__date {
    position: absolute;
    bottom: 24px;
    right: 16px;
}

@media only screen and (max-width: 600px) {
    .job-list-item {
        width: 85%;
        padding: 45px 16px 27px 16px;
        background-color: #EFF0F5;
    }
    .job-list-item__content {
        width: 90%;
    }
    .job-list-item__image {
        width: 66px;
        height: 66px;
        margin-right: 19px;
    }
    .job-list-item__title {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.5625px;
        margin-bottom: 5px;
    }
    .job-list-item__company {
        margin-bottom: 7px;
    }
    .job-list-item__rate {
        position: absolute;
        top: 17px;
        left: 100px;
        text-align: left;
        line-height: 10px;
    }
    .job-list-item__rate img {
        width: 10px;
        height: 10px;
    }
    .job-list-item__mark {
        display: none;
    }
    .job-list-item__date {
        position: absolute;
        bottom: none;
        top: 13px;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.206667px;
    }
}
